@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root{
    --background: #FDFF8F;
    --primary-color: #D47AE8;
    --secondary-color: #F4BEEE;
    --contrast-color: #A8ECE7;
    --color-hover: #AA14F0;
    --color-alert: #DD4A48;
    --dark: rgb(32, 32, 32);
    --text-light: #fff;
    --text-gray: #7f807d;
    --text-dark: #000;
    --color-facebook: #3b5998;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}


/** UTILITIES */
.list-item{
    list-style-type: none;
}
.navbar-link{
    text-decoration: none;
    color: var(--text-light);
    padding: 20px 20px  0 20px;
    font-size: 1.2rem;
}
.navbar-link:hover{
    border-radius: 8px 8px 0 0;
    background-color: var(--color-hover);
}
.navbar-link:focus{
    border-bottom: 5px solid var(--text-light);
}
.btn{
    padding: 10px 25px;
    /* width: 200px; */
    border-radius: 20px;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.form{
    background-color: #fff;
    padding: 50px 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title-section{
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin: 20px 0;
}
.home{
    font-size: 2.5rem;
    transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    color: var(--text-light);
}
.home:hover{
    cursor: pointer;
    transform: scale(1.4);
    color: var(--contrast-color);
}
.fas, .fab{
    margin: 0 6px;
    color: var(--text-light);
}
.icon{
    font-size: 1.4rem;
}
.icon-form{
    color: var(--primary-color);
}
.close{
    display: none;
}
.open{
    display: block;
}
.text-center{
    text-align: center;
}
.visible{
    display: flex;
    animation-name: openOptions;
    animation-duration: .6s;
    animation-timing-function:  ease-in-out;
}
.hidden{
    animation-name: closeOptions;
    animation-duration: .6s;
    animation-timing-function:  ease-in-out;
    display: none;
}

/** LOGIN */
.container-main{
    background-image: url("https://images.pexels.com/photos/960540/pexels-photo-960540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.navbar{
    padding: 25px 20px 5px 25px;
}
.form-login{
    min-width: 270px;
    max-width: 25%;
    margin: 0 auto;
    margin-top: 35px;
    position: relative;
    z-index: 10;
    filter: opacity(0.87);
}
.form-group{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    color: var(--text-dark);
    text-align: left;
}
.form-control{
    margin-left: 0px;
    border: none;
    border-bottom: 1px solid #000;
    width: 60%;
    text-align: center;
}
.form-control:focus{
    outline: none;
}
.container-btn{
    display: flex;
    margin-top: 25px;
    justify-content: center;
}
.btn-primary{
    background-color: var(--contrast-color);
    border: var(--contrast-color);
    color: var(--text-light);
    font-weight: 600;
}
.btn-primary:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.container-social{
    margin-top: 20px;
}
.btn-social{
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    border-radius: 7px;
}
.btn-facebook{
    color: var(--text-light);
    background-color: var(--color-facebook);
}
.btn-google{
    color: var(--text-dark);
    border: 1px solid var(--text-gray);
}
a>img{
    width: 16px;
    margin-bottom: -3px;
}


/** Panel */
.panel{
    background-color: var(--primary-color);
}
.container-panel{
    display: flex;
    justify-content: space-between;
}
.menu-responsive{
    display: none;
    cursor: pointer;
    padding: 10px;
}
.navbar-options{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: flex-end;
}
.user-container{
    color: var(--text-light);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
}
.figure-user{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}
.figure-user>img{
    width: inherit;
    height: inherit;
}
.container-fluid{
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
}
.btn-secondary{
    background-color: var(--secondary-color);
    border: var(--secondary-color);
    color: var(--text-light);
    font-weight: 600;
}
.btn-alert{
    background-color: var(--color-alert);
    border: var(--color-alert);
    color: var(--text-light);
    font-weight: 600;
}
.btn-secondary:hover{
    background-color: var(--primary-color);
}
.row-form{
    max-width: 25%;
    margin: 0 auto;
}
.row-buttons{
    max-width: 25%;
    margin: 25px auto;
    display: flex;
    justify-content: space-evenly;
}
.form-control-secondary{
    border: 1px solid var(--text-gray);
    border-radius: 7px;
    padding-left: 7px;
    outline: none;
    text-align: center;
}
.form-control-secondary:focus{
    box-shadow: var(--contrast-color) 0px 2px 8px;
}
.fas-form{
    color: var(--color-hover);
}

.container-cards{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-shrink: unset;
}
.card{
    margin: 20px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.card:hover{
    transform: translateY(-25px);
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
}
.card-title{
    color: var(--color-hover);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.2rem;
}
.card-text:nth-child(4){
    margin-top: 15px;
}

.user-options{
    /* display: none; */
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    top: 74px;
    right: 20px;
    background-color: var(--color-hover);
    z-index: 10;
    padding: 10px 0;
}
.user-option{
    display: block;
    padding-top: 5px;
}
.user-option:hover{
    border-radius: 0;
}
.user-option:focus{
    border-bottom: none;
}
.close-options{
    padding: 7px;
    margin: 0;
    transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.close-options:hover{
    transform: scale(1.5);
}

/* ANIMATIONS */
@keyframes openMenu{
    0%{
        margin-left: -100%;
        margin-right: 100%;
    }
    100%{
        margin-right: 0px;
        margin-left: 0px;
    }
}
@keyframes openOptions{
    0%{
        /* margin-top: -5%; */
        transform: translateY(-30%);
    }
    100%{
        /* margin-top:  0px; */
        transform: translateY(0);
    }
}
@keyframes closeOptions{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-30%);
        /* display: none; */
    }
}



/** RESPONSIVE DESIGN */
@media screen and (max-width: 1455px){
    /** LOGIN */
    .account{
        display: block;
    }
}
@media screen and (max-width: 1300px){
    /** LOGIN */
    .form-group{
        display: block;
        text-align: center;
    }
    .form-control{
        margin: 0 10px;
        width: 90%;
    }
    .form{
        padding: 50px 30px;
    }

    /** PANEL */
    .option-icon{
        display: none;
    }
}
@media screen and (max-width: 860px){
    /** LOGIN */
    .form-control{
        margin-left: 0;
    }
}
@media screen and (max-width: 640px){
    /** LOGIN */
    .form{
        padding: 30px;
    }
    /** PANEL */
    .user-container{
        font-size: 0.8rem;
    }
    .home{
        display: none;
    }
    .menu-responsive, .menu{
        display: block;
        z-index: 10;
    }
    .navbar{
        padding: 10px;
    }
    .navbar-options{
        display: none;
        flex-direction: column;
        align-items: unset;
        position: absolute;
        top: 53px;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        z-index: 10;
        padding: 20px 0;
    }
    .hidden{
        display: none;
    }
    .visible{
        display: block;
        animation: openMenu .6s ease-in-out;
    }
    .navbar-link{
        display: block;
    }
    .option-icon{
        display: inline;
    }
    .navbar-link:hover{
        border-radius: 0;
    }
    .navbar-link:focus{
        border-bottom: none;
    }
}
